[Unit]
Description=Simple local time server
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/opt/damco/LocalTimeServer
ExecStart=/opt/damco/LocalTimeServer/LocalTimeServer -h 127.0.0.1 -p 10123

[Install]
WantedBy=multi-user.target
