[Unit]
Description=Simple local time server
After=network.target

[Service]
User=root
Group=www-data
ExecStart=/opt/damco/LocalTimeServer/LocalTimeServer -h 0.0.0.0 -p 10123

[Install]
WantedBy=multi-user.target
