[unit]
Description=Simple local time server
After=network.target

[Service]
User=root
Group=www-data
ExecStart=LocalTimeServer -h 127.0.0.1 -p 10123

[Install]
WantedBy=multi-user.target
